* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.app-wrapper {
  background-image: url(./assets/autumn-background.svg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: white;
  width: 50%;
  padding: 30px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.title {
  margin: 10px;
}

.game-instructions,
.game-instructions-2 {
  margin: 13px;
  width: 80%;
  text-align: center;
  font-size: 1.2rem;
}

.space-reminder {
  width: 90%;
  font-weight: bold;
}

.game-instructions-2 {
  font-size: 1.4rem;
}

input {
  width: 50%;
  padding: 13px;
  background-color: #fff1e3;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  margin-top: 7px;
}

.start-game-btn {
  padding: 6px 15px;
  margin: 20px;
  color: white;
  background-color: #a9463f;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  font-size: 1.3rem;
}

.start-game-btn:hover {
  background-color: #8a3a35;
}

.write-the-word {
  font-size: 1.6rem;
  margin: 7px 0 5px 0;
  font-style: italic;
  font-weight: normal;
}

.highlighted-word {
  color: #a9463f;
  font-size: 2rem;
}

.game-info {
  margin: 5px;
  font-size: 1.4rem;
  font-weight: bold;
}

.score-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ol {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  min-width: 30%;
}

li {
  font-size: 1.5rem;
  margin: 20px 0 10px 0;
  font-weight: bold;
}

.eikenott {
  width: 30px;
  height: auto;
}

.style-name {
  font-size: 1.7rem;
  margin: 0 60px;
  font-style: italic;
}

.style-score {
  font-weight: normal;
  margin: 0 60px;
}

.style-name,
.style-score {
  margin-left: 20px;
  margin-right: 20px;
}
